<div class="hero">
    <h1>WE LOVE BEER</h1>
    <form #searchForm="ngForm">
        <div class="form-group">
            <div class="input-group">
                <label for="search">Search for beer brand:</label>
                <input class="search-bar"
                    placeholder="Corona extra"
                    #search>
            </div>
        </div>
        <button class="btn-search"
            (click)="getSearchString(search.value)">Get
            Beer</button>
    </form>
</div>