<div class="beer-desc">
    <img src="{{beer.image_url}}"
        alt="Beer image">
    <div class="beer-info">
        {{searchString}}
        <h1>{{beer.name}}++++++++{{searchString}}</h1>
        <p>Alcohol: <span>{{beer.abv}} %</span></p>
        <p>PH number: <span>{{beer.ph}}</span></p>
        <p class="desc">{{beer.description}}</p>
        <p>Best food combinations:
            <span>{{beer.food_pairing?.join(', ')}}</span>
        </p>
        <button (click)="onAddFavorite.emit()">Mark as
            Favorite</button>
    </div>
</div>