@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Unica+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

$primary-ff-lexend: ("Lexend Deca", sans-serif);
$secondary-ff: ("Irish Grover", cursive);

@import url("./reset.scss");

body {
  // font-family: $secondary-ff;
  font-family: Arial, Helvetica, sans-serif;
}
